1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [2]:
#a
b=[]
for a in range(1,101): 
    if a%5==0 and a%3==0:
         print("MickeyMouse")
         b.append("MickeyMouse")
    elif a%3 == 0: 
        print("Mickey") 
        b.append("Mickey")
    elif a%5== 0:
        print("Mouse")
        b.append("Mouse")
    
    else:
        print (a)
        b.append(a)
        
t=(b)
print(t)

#b
c=b
for x in range(0,100):
    if c[x]=="MickeyMouse":
        c[x]="DonaldDuck"     
    if c[x]=="Mickey":
        c[x]="Donald"  
    if c[x]=="Mouse":
        c[x]="Duck" 
        
print(c)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [15]:
#metodo1
x=input('Inserisci una variabile: ')
y=input('Inserisci una variabile: ')
def swap_function(x,y):
    temp=x
    x=y
    y=temp
    print(x)
    print(y)
    return 

swap_function(x,y)

#metodo 2
x=input('Inserisci una variabile: ')
y=input('Inserisci una variabile: ')
lista=[x,y]
def swap_function2(x,y):
    x=lista[1]
    y=lista[0]
    print(x)
    print(y)
    return

swap_function2(x,y)

Inserisci una variabile: 4
Inserisci una variabile: 2
2
4
Inserisci una variabile: 6
Inserisci una variabile: 55
55
6

In [ ]:
def swap1(x, y):
    x,y=y,x
    return(x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [14]:
#a
x1=input('Inserisci un numero: ')
y1=input('Inserisci un numero: ')
x2=input('Inserisci un numero: ')
y2=input('Inserisci un numero: ')

t1=(x1,y1)
t2=(x2,y2)
print(t1,t2)
type(float(t1[0]))

def dist_function(a,b,c,d):
    result = pow(pow( float(t1[0]) - float(t2[0]),2) + pow( float(t1[1]) -  float(t2[1]),2),0.5)
    return result
dist_function(t1[0],t1[1],t2[0],t2[1])

Inserisci un numero: 5
Inserisci un numero: 5
Inserisci un numero: 5
Inserisci un numero: 4
('5', '5') ('5', '4')

1.0

In [1]:
#b
import math

def dist(u,v):
    x = u[0] - v[0]
    y = u[1] - v[1]
    return(math.sqrt(x**2 + y**2))

u = (3,0)
v = (0,4)

print(dist(u,v))

5.0

### 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [3]:
string="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [13]:
#modo a
string2=string.replace(" ", "").replace(".", "").lower()
print(string2)
myset = set()
for element in string2:
    y=string2.count(element.lower())
    mylist = list([element, y])
    myset.add(tuple(mylist))

print(myset)

writeaprogramthatprintsthenumbersfrom1to100butformultiplesofthreeprintmickeyinsteadofthenumberandforthemultiplesoffiveprintmousefornumberswhicharemultiplesofboththreeandfiveprintmickeymouse
{('n', 10), ('y', 2), ('u', 9), ('c', 3), ('a', 7), ('v', 2), ('o', 13), ('p', 8), ('h', 9), ('k', 2), ('b', 5), ('1', 2), ('d', 3), ('i', 14), ('s', 9), ('g', 1), ('r', 17), ('0', 2), ('l', 6), ('w', 2), ('e', 22), ('m', 12), ('t', 19), ('f', 10)}

In [5]:
#modo b
myset = set()
for x in string:
    myset.add((x, string.lower().count(x)))
print(myset)

{('W', 0), ('t', 19), ('F', 0), ('l', 6), ('r', 17), ('0', 2), ('n', 10), ('m', 12), ('e', 22), ('b', 5), ('o', 13), ('w', 2), ('M', 0), ('h', 9), ('u', 9), ('1', 2), (' ', 41), ('p', 8), ('.', 2), ('f', 10), ('c', 3), ('k', 2), ('y', 2), ('d', 3), ('i', 14), ('v', 2), ('B', 0), ('g', 1), ('a', 7), ('s', 9)}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [8]:
unique_numbers=[]
def unique_number(l):
    for e_list in l:
        x=l.count(e_list)
        if x==1:
            print(e_list)
            unique_numbers.append(e_list)
unique_number(l)
print("i numeri non ripetuti sono:")
print(len(unique_numbers))

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53
i numeri non ripetuti sono:
37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [4]:
n=2
def square(n):
    return n*n

def cube(n):
    return n*n*n

def sixth(n):
    return cube(square(n))

sixth(n)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [3]:
#metodo 1
cubes=[] #creo una list vuota
for x in range(0,11):
     cubes.append(x*x*x)
print(cubes)

#metodo 2
#lista = list( range(11))
cubes_list = [x**3 for x in range(11)]
print(cubes_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [2]:
lista=[]
for a in range(1,101):
    for b in range(1,101):
        for c in range(1,101):
            if a*a+b*b==c*c:
                if a>b:
                    lista.append([a,b,c])
t=lista
print(t)

[[4, 3, 5], [8, 6, 10], [12, 5, 13], [12, 9, 15], [15, 8, 17], [16, 12, 20], [20, 15, 25], [21, 20, 29], [24, 7, 25], [24, 10, 26], [24, 18, 30], [28, 21, 35], [30, 16, 34], [32, 24, 40], [35, 12, 37], [36, 15, 39], [36, 27, 45], [40, 9, 41], [40, 30, 50], [42, 40, 58], [44, 33, 55], [45, 24, 51], [45, 28, 53], [48, 14, 50], [48, 20, 52], [48, 36, 60], [52, 39, 65], [55, 48, 73], [56, 33, 65], [56, 42, 70], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [63, 16, 65], [63, 60, 87], [64, 48, 80], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [80, 60, 100], [84, 13, 85], [84, 35, 91], [96, 28, 100]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [17]:
t = (1,3,7)

def normalize(X):
    S=0
    for i in range(0, len(X)):
        S += X[i]**2
    b=[x/S for x in X ]
    return tuple(b)

normalize(t)

(0.01694915254237288, 0.05084745762711865, 0.11864406779661017)